<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>소노러스 마이페이지</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main.css}" >
    <link rel="stylesheet" th:href="@{/css/common/login.css}" >
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/common/login.js}"></script>
    <script th:src="@{/js/common/member/member.js}"></script>
</th:block>

<div layout:fragment="content">
    <div class="container" style="text-align:center; margin-top:200px;">
        <table class="table table-bordered">
            <tr>
                <td>성명</td>
                <td><p id="username"></p></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><p id="email"></p></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><p id="phone"></p></td>
            </tr>
        </table>
        <br/>
    </div>
</div>