<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>소노러스호텔</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main.css}" >
    <link rel="stylesheet" th:href="@{/css/admin/update.css}" >
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/common/login.js}"></script>
    <script th:src="@{/js/admin/room/authUpdateForm.js}"></script>
    <script th:src="@{/js/admin/room/authUpdate.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div id="roomId" th:text="${roomId}"></div>
    <div class="container" style="margin-top:200px">
        <form name="updateForm" method="post" enctype="multipart/form-data">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th><span id="vali">*</span>객실명</th>
                    <td colspan="3"><input type="text" id="roomName" name="roomName"/></td>
                </tr>
                <tr>
                    <th><span id="vali">*</span>객실요금</th>
                    <td><input type="text" id="roomPrice" name="roomPrice"/>&nbsp;원</td>
                    <th><span id="vali">*</span>객실수</th>
                    <td><input type="number" id="roomAmount" name="roomAmount"/></td>
                </tr>
                <tr>
                    <th><span id="vali">*</span>객실크기</th>
                    <td><input type="number" id="roomSize" name="roomSize" step="0.01"/>&nbsp;㎡</td>
                    <th><span id="vali">*</span>최대인원수</th>
                    <td><input type="number" id="peopleNum" name="peopleNum"/></td>
                <tr>
                    <th><span id="vali">*</span>침대타입</th>
                    <td colspan="3"><input type="text" id="bedType" name="bedType"/></td>
                </tr>
                <tr>
                    <th>특이사항</th>
                    <td colspan="3"><textarea id="roomSpec" name="roomSpec"></textarea></td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td colspan="3">
                        <input type="text" id="roomThumbnailPath" name="roomThumbnailPath"/></td>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="text-align:center;">
                <button type="button" class="btn btn-warning" onclick="update();">수정</button>
                <button type="button" class="btn btn-secondary"  onclick="location.href='/admin/roomList';">목록</button>
            </div>
            <br/>
        </form>
    </div>
</div>
</html>