<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>소노러스호텔</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main.css}" >
    <link rel="stylesheet" th:href="@{/css/admin/view.css}" >
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <section id="main">
        <div id="view_area">
            <div id="title">객실상세페이지</div>
            <div id="table">
                <table style="margin:auto; text-align:center;">
                    <caption style="visibility:hidden">객실상세페이지</caption>
                    <colgroup>
                        <col width="20%"/>
                        <col width="30%"/>
                        <col width="20%"/>
                        <col width="30%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <img style="width:250px; height:250px;" th:src="${room.roomImagePath}"/>
                        </tr>
                        <tr>
                            <th><span id="vali">*</span>객실명</th>
                            <td colspan="3" th:text="${room.room.roomName}"></td>
                        </tr>
                        <tr>
                            <th><span id="vali">*</span>객실요금</th>
                            <td th:text="${room.room.roomPrice}">&nbsp;원</td>
                            <th><span id="vali">*</span>객실수</th>
                            <td th:text="${room.room.roomAmount}"></td>
                        </tr>
                        <tr>
                            <th><span id="vali">*</span>객실크기</th>
                            <td th:text="${room.room.roomSize}">&nbsp;㎡</td>
                            <th><span id="vali">*</span>최대인원수</th>
                            <td th:text="${room.room.peopleNum}"></td>
                        </tr>
                        <tr>
                            <th><span id="vali">*</span>침대타입</th>
                            <td colspan="3" th:text="${room.room.bedType}"></td>
                        </tr>
                        <tr>
                            <th>특이사항</th>
                            <td colspan="3" th:text="${room.room.roomSpec}"></td>
                        </tr>
                    </tbody>
                </table>
                <div id="btn">
                     <span class="btn_blue_l" >
                         <a th:href="'/admin/roomUpdatePage?Id=' + ${room.room.Id}">수정</a>
                         <img class="btn_blue_r" th:src="@{/images/example/btn_bg_r.gif}">
                     </span>
                     <span class="btn_blue_l" >
                         <a href="/admin/roomDelete">삭제</a>
                         <img class="btn_blue_r" th:src="@{/images/example/btn_bg_r.gif}">
                     </span>
                     <span class="btn_blue_l" >
                         <a href="/admin/roomList">목록</a>
                         <img class="btn_blue_r" th:src="@{/images/example/btn_bg_r.gif}">
                     </span>
                </div>
            </div>
        </div>
    </section>
</div>
</html>