<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="footerFragment">
    <footer>
        <section id="footer_menu_box">
            <nav id="footer_menu">
                <ul id="footer_logo">
                    <li><img id="logo" th:src="@{/images/logo.png}"/></li>
                </ul>
                <ul id="footer_sub_menu">
                    <li><a href="#">이용안내</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">적립금</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">주문조회</a></li>
                    <li><a href="#">개인정보보호정책</a></li>
                </ul>
            </nav>
        </section>
        <section id="footer_box">
            <div id="address">
                <h3>(주)소노러스 대전광역시 동구 충청로 21 대표이사 홍길동 사업자등록번호 123-12-123456 통신판매신고번호 중구100000호</h3>
                <h3>호스팅서비스제공자 삼성 SDS(주) 서울객실예약 seoulsonorous@samsung.com</h3>
            </div>
        </section>
    </footer>
</div>
</html>