<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
<header>
        <div class="jumbotron text-center" style="margin-bottom:0">
                <h1><a class="nav-link" th:href="@{/main}">SONOROUS</a></h1>
                <p>HOTEL & RESORTS</p>
        </div>
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
                <!--로그인 후-->
                <div class="do-login">
                        <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" th:href="@{#}" onclick="logout(); return false;">로그아웃</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/common/memberInfo}">마이페이지</a></li>
                        </ul>
                </div>
                <!--로그인 전-->
                <div class="not-login">
                        <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" th:href="@{/common/loginForm}">로그인</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/common/addMember}">회원가입</a></li>
                        </ul>
                </div>
        </nav>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                                <!--기본 메뉴-->
                                <li class="nav-item"><a class="nav-link" th:href="@{#}">소개</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{#}">공지사항</a></li>
                                <!--사용자 메뉴-->
                                <li class="nav-item"><a class="nav-link" th:href="@{/rsvList}" id="user-menu">예약</a></li>
                                <!--관리자 메뉴-->
                                <li class="nav-item"><a class="nav-link"  href="/admin/roomList" id="admin-menu-1">객실관리</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/admin/reservManageList}" id="admin-menu-2">예약관리</a></li>
                        </ul>
                </div>
        </nav>
</header>
</div>
</html>